@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color: #f1f1f1;
}

.container {
    max-width: 90%;
}

.container h2 {
    margin-bottom: 15px;
    font-weight: 700;
    text-indent: 1px;
    color: #202020;
}

#login {
    background-color: #fff;
    padding: 10px 10px 10px 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    width: fit-content;
}

#adminPassword {
    background-color: transparent;
    border: none;
    font-size: 16px;
    width: 180px;
}

#btnConnect {
    border: none;
    background-color: #f0f8ff;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: 400;
}

#login.red {
    background-color: #E3032A55;
    animation: secousse 200ms 1 linear;
}

#login.red #btnConnect {
    background-color: #f1f1f1;
}

#login.green {
    background-color: #1CF58455;
    animation: ding 200ms 1 ease-out;
}

#login.green #btnConnect {
    background-color: #f1f1f1;
}
@keyframes ding {
    0% {transform: scale(1)}
    80% {transform: scale(1.05)}
}
@keyframes secousse {
    0% {transform: rotate(0deg)}
    40% {transform: rotate(5deg)}
    80% {transform: rotate(-10deg)}
}